@import "bootstrap/scss/bootstrap";
// Variables personalizadas
$primary-color: #007bff;
$secondary-color: #6c757d;

// Importa Bootstrap


body {
  padding-top: 60px;
  background-color: #a3c4eb;
  color: #1c2f3f;
}

.card-custom {
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}